[Unit]
Description=CAPRA PROJECTOR OFF BUTTON
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/bin/python3 /home/pi/capra/projector_turn_off.py

[Install]
WantedBy=multi-user.target
